<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53608337193-op1q13auci8e0mfjl93q27km1fm8pldv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53608337193-op1q13auci8e0mfjl93q27km1fm8pldv</string>
	<key>API_KEY</key>
	<string>AIzaSyBNFjIIlgC5qP8cTbCausDmKvWqiuilIgM</string>
	<key>GCM_SENDER_ID</key>
	<string>53608337193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coExist</string>
	<key>PROJECT_ID</key>
	<string>apitest-8007e</string>
	<key>STORAGE_BUCKET</key>
	<string>apitest-8007e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53608337193:ios:96cf398f5038f6d0457138</string>
</dict>
</plist>